Repository raulgavris/musichub, pull requests merged in 2020-11, with the labels that each got.

#24 GitHub actions deploy
  .github/dependabot.yml
  .github/workflows/deploy.yml
  README.md
  backend/.env
  backend/.env-for-source
  backend/Dockerfile
  backend/README.md
  backend/entrypoint-backend.sh
  backend/main/settings.py
  backend/manage.py
  backend/sql/db_init.sql
  docker-compose-local.yml
  docker-compose-production.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  nginx/Dockerfile
  nginx/nginx.conf
Labels: devops

#35 added song model
  backend/web_api/admin.py
  backend/web_api/migrations/0002_song.py
  backend/web_api/models.py
  backend/web_api/serializers.py
  backend/web_api/urls.py
  backend/web_api/views.py
  frontend/public/index.html
  frontend/src/components/HelloWorld/HelloWorld.js
  frontend/src/components/HelloWorld/HelloWorld.scss
  frontend/src/components/HelloWorld/HelloWorld.test.js
  frontend/src/components/HelloWorld/__snapshots__/HelloWorld.test.js.snap
  frontend/src/components/HelloWorld/index.js
  frontend/src/components/LandingPage/LandingPage.js
  frontend/src/components/LandingPage/LandingPage.scss
  frontend/src/components/LandingPage/assets/loadingscreen.jpg
  frontend/src/components/Login/Login.js
  frontend/src/components/Login/Login.scss
  frontend/src/components/Login/assets/background.jpg
  frontend/src/components/Login/assets/loadingscreen.jpg
  frontend/src/components/NavigationBar/NavigationBar.js
  frontend/src/components/NavigationBar/NavigationBar.scss
  frontend/src/components/NavigationBar/assets/Logo.png
  frontend/src/components/NavigationBar/assets/favicon.ico
  frontend/src/components/NavigationBar/assets/navbar.jpg
  frontend/src/components/NavigationBar/index.js
  frontend/src/components/Register/Register.js
  frontend/src/components/Register/Register.scss
  frontend/src/components/Register/assets/background.jpg
  frontend/src/components/Register/assets/loadingscreen.jpg
  frontend/src/components/SongList/SongList.js
  frontend/src/components/SongList/SongList.scss
  frontend/src/components/SongList/assets/Logo.png
  frontend/src/components/SongList/assets/background.jpg
  frontend/src/components/SongList/index.js
  frontend/src/redux/helloWorld/helloWorldActions.js
  frontend/src/redux/helloWorld/helloWorldReducer.js
  frontend/src/redux/helloWorld/helloWorldTypes.js
  frontend/src/redux/index.js
  frontend/src/redux/rootReducer.js
  frontend/src/redux/songList/SongListTypes.js
  frontend/src/redux/songList/songListActions.js
  frontend/src/redux/songList/songListReducer.js
  frontend/src/routes.js
  frontend/src/services/ApiService.js
  frontend/src/services/WebApiService.js
Labels: backend, enhancement

#37 Ci pipeline
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
  backend/main/settings.py
  backend/main/urls.py
  backend/manage.py
  backend/requirements.txt
  backend/web_api/admin.py
  backend/web_api/apps.py
  backend/web_api/migrations/0001_initial.py
  backend/web_api/migrations/0002_song.py
  backend/web_api/migrations/__init__.py
  backend/web_api/models.py
  backend/web_api/serializers.py
  backend/web_api/tests.py
  backend/web_api/urls.py
  backend/web_api/views.py
  docker-compose-local.yml
  docker-compose-production.yml
  frontend/Dockerfile
  frontend/src/components/App/__snapshots__/App.test.js.snap
  frontend/src/components/HelloWorld/HelloWorld.test.js
  frontend/src/components/LandingPage/LandingPage.test.js
  frontend/src/components/LandingPage/__snapshots__/LandingPage.test.js.snap
  frontend/src/components/Login/Login.test.js
  frontend/src/components/Login/__snapshots__/Login.test.js.snap
  frontend/src/components/Register/Regsiter.test.js
  frontend/src/components/Register/__snapshots__/Register.test.js.snap
  frontend/src/components/SongList/SongList.js
Labels: devops, enhancement

#48 Css updates
  frontend/src/components/SongList/SongList.js
  frontend/src/components/SongList/SongList.scss
  frontend/src/components/SongList/assets/search.png
Labels: frontend

#50 a do-over of the login and register page
  frontend/src/components/LandingPage/LandingPage.scss
  frontend/src/components/LandingPage/assets/background.webp
  frontend/src/components/Login/Login.js
  frontend/src/components/Login/Login.scss
  frontend/src/components/Login/assets/background.webp
  frontend/src/components/NavigationBar/NavigationBar.scss
  frontend/src/components/Register/Register.scss
  frontend/src/components/Register/assets/background.webp
  frontend/src/components/SongList/SongList.scss
  frontend/src/components/SongList/assets/background.webp
Labels: enhancement, frontend
